<section class="form-step step2 form-group">
    <div>
        <label for="ic">Идентификационный код</label> <input type="text" id="ic" class="form-control">
    </div>
    <div>
        <label for="surname">Фамилия</label> <input type="text" id="surname" class="form-control">
    </div>
    <div>
        <label for="name">Имя</label> <input type="text" id="name" class="form-control">
    </div>

    <script src="/js/ajax-cities.js"></script>
    <div>
        <label for="city">Город</label>
        <input type="text" id="city" class="form-control ff_elem f_elem_city" name="ff_nm_from[]" value="">
    </div>
</section>

